# Confirm before overwriting something
alias cp="cp -i"

# Tell ssh what TERM we're using
alias ssh="TERM=screen ssh"

# Color grep output
alias grep='grep --color=tty -d skip'

# Color ls output
alias ls='ls --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'

# Download new mirrorlist
alias mirrorup='sudo reflector -l 50 -f 20 --sort rate --save /etc/pacman.d/mirrorlist'
