# Colored man pages
cman() {
    env \
    LESS_TERMCAP_mb=$'\E[01;31m' \
    LESS_TERMCAP_md=$'\E[01;38;5;74m' \
    LESS_TERMCAP_me=$'\E[0m' \
    LESS_TERMCAP_se=$'\E[0m' \
    LESS_TERMCAP_so=$'\E[38;5;246m' \
    LESS_TERMCAP_ue=$'\E[0m' \
    LESS_TERMCAP_us=$'\E[04;38;5;146m' \
    man "$@"
}
alias man='cman'

# Open a screen session with the specified name on the specified server
# Prepend user to avoid naming conflicts with other users
# Change escape key to 'j' to avoid conflicts with local terminal multiplexer
ses() {
  ssh "$1" -t "screen -e^Jj -DR ${USER}-$2"
}

# Find the next open port
getport() {
  for port in $(seq 32768 65000); do
    lsof -i -n -P | grep LISTEN | grep -q ":${port}"
    [ $? -eq 1 ] && break
  done
  echo "${port}"
}
