#include ".config/xresources/colors"
#define font01 xft:Meslo LG M:pixelsize=10
#define font02 xft:Deja Vu Sans:pixelsize=11

*.selforeground: base0B
*.selbackground: base00

! -----------------
! Demenu
! -------------------------------------------------------------
dmenu.font: font01

! -----------------
! Panel
! -------------------------------------------------------------
panel.height: 13
panel.font: font01
panel.icon-font: font02

! -----------------
! URxvt
! -------------------------------------------------------------
urxvt.scrollBar: false
urxvt.font: font01,font02

! Use bold font instead of high intensity colors
urxvt.intensityStyles: false

! Extensions
urxvt.perl-ext-common: vtwheel,resize-font,url-select

! Resize font size on the fly
! urxvt.resize-font.smaller: C-minus
urxvt.resize-font.bigger: C-equal
urxvt.resize-font.reset: C-0
! urxvt.resize-font.show: C-question

! Make links clickable
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.url-select.launcher: /usr/bin/xdg-open
urxvt.url-select.underline: true

! -----------------
! Qutebrowser
! -------------------------------------------------------------
qutebrowser.colors.completion.fg: base05
qutebrowser.colors.completion.bg: base00
qutebrowser.colors.completion.alternate-bg: base00
qutebrowser.colors.completion.category.fg: base07
qutebrowser.colors.completion.category.bg: base01
qutebrowser.colors.completion.category.border.top: base01
qutebrowser.colors.completion.item.selected.fg: base05
qutebrowser.colors.completion.item.selected.bg: base01
qutebrowser.colors.completion.match.fg: base08
qutebrowser.colors.completion.scrollbar.fg: base01
qutebrowser.colors.statusbar.fg: base07
qutebrowser.colors.statusbar.bg: base00
qutebrowser.colors.statusbar.fg.insert: base0B
qutebrowser.colors.statusbar.fg.caret: base0E
qutebrowser.colors.statusbar.fg.caret-selection: base0E
qutebrowser.colors.statusbar.progress.bg: base07
qutebrowser.colors.statusbar.url.fg.success: base07
qutebrowser.colors.statusbar.url.fg.success.https: base0B
qutebrowser.colors.statusbar.url.fg.error: base09
qutebrowser.colors.statusbar.url.fg.warn: base0A
qutebrowser.colors.statusbar.url.fg.hover: base0C
qutebrowser.colors.tabs.fg.odd: base05
qutebrowser.colors.tabs.bg.odd: base00
qutebrowser.colors.tabs.fg.even: base05
qutebrowser.colors.tabs.bg.even: base00
qutebrowser.colors.tabs.fg.selected.odd: base07
qutebrowser.colors.tabs.bg.selected.odd: base01
qutebrowser.colors.tabs.bg.bar: base02
qutebrowser.colors.tabs.indicator.start: base0D
qutebrowser.colors.tabs.indicator.stop: base0B
qutebrowser.colors.tabs.indicator.error: base08
qutebrowser.colors.hints.fg: base01
qutebrowser.colors.hints.fg.match: base02
qutebrowser.colors.downloads.bg.bar: base00
qutebrowser.colors.downloads.fg.start: base0D
qutebrowser.colors.downloads.bg.start: base00
qutebrowser.colors.downloads.fg.stop: base0B
qutebrowser.colors.downloads.fg.error: base07
qutebrowser.colors.downloads.bg.error: base00
qutebrowser.colors.webpage.bg: base07
qutebrowser.colors.keyhint.fg: base07
qutebrowser.colors.keyhint.fg.suffix: base0D
qutebrowser.colors.messages.fg.error: base08
qutebrowser.colors.messages.border.error: base08
qutebrowser.colors.messages.fg.warning: base09
qutebrowser.colors.messages.border.warning: base09
qutebrowser.colors.messages.fg.info: base07
qutebrowser.colors.messages.bg.info: base00
qutebrowser.colors.messages.border.info: base01
qutebrowser.colors.prompts.fg: base0D
qutebrowser.colors.prompts.selected.bg: base0D
