#include ".Xresources.d/colors"
#define font01 xft:Meslo LG M:pixelsize=8
#define font02 xft:Deja Vu Sans:pixelsize=10

*.selforeground: base0B
*.selbackground: base00

! -----------------
! Demenu
! -------------------------------------------------------------
dmenu.font: font01

! -----------------
! Panel
! -------------------------------------------------------------
panel.height: 11
panel.font: font01
panel.icon-font: font02

! -----------------
! URxvt
! -------------------------------------------------------------
urxvt.scrollBar: false
urxvt.font: font01,font02

! Use bold font instead of high intensity colors
urxvt.intensityStyles: false

! Extensions
urxvt.perl-ext-common: vtwheel,resize-font,url-select

! Resize font size on the fly
! urxvt.resize-font.smaller: C-minus
urxvt.resize-font.bigger: C-equal
urxvt.resize-font.reset: C-0
! urxvt.resize-font.show: C-question

! Make links clickable
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.url-select.launcher: /usr/bin/xdg-open
urxvt.url-select.underline: true
